.postGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-bottom: 60px;
}

.postItem {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  background-color: #eee;
  cursor: pointer;
}

.postItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.noPosts {
  margin: 0 auto;
}
