@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Inter:wght@400;500;700&family=STIX+Two+Math&display=swap");

:root {
  --font-main: "Roboto", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-math: "STIX Two Math", serif;
}
