:root {
  --white-background: #ffffff;
  --button-main-blue: #0095f6;
  --input-background-color: #fafafa;
  --error-message-color: #ff0014;
  --delete-button-color: #ed4956;

  --dark-blue-text: #00376b;
  --grey-text-color: #737373;
  --main-text-black-color: #262626;
  --grey-text-hover: #000000;

  --separator-grey-color: #dbdbdb;

  --grey-background-color: #efefef;

  --main-font-size: 14px;
  --bigger-font-size: 16px;
  --footer-font-size: 12px;
}
