.appLayout {
  display: flex;
  position: relative;
  height: 100%;
  /* height: 100vh; */
}

.mainContent {
  flex: 1;
  /* padding: 36px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
