.post {
  border-radius: 0px;
  max-width: 404px;
  max-height: 715px;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;

  border-bottom: 2px solid var(--separator-grey-color);
  padding-bottom: 37px;
}

.header {
  display: flex;
  align-items: center;
  padding: 0px 0px 10px 0px;
  gap: 10px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.authorDetails {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.date {
  color: var(--grey-text);
  font-size: 12px;
}

.followBtn {
  background: none;
  border: none;
  color: var(--button-main-blue);
  font-weight: bold;
  cursor: pointer;
}

.imageWrapper {
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
}

.imageWrapper img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.actions {
  display: flex;
  gap: 16px;
  padding: 10px 0px;
}

.icon {
  font-size: 20px;
  height: inherit;
}

.likes {
  padding: 10 0px;
  font-weight: bold;
}

.iconButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  height: 24px;
}

.caption {
  padding: 10px 0px;
  font-size: 14px;
}

.comment {
  padding: 4px 10px;
  font-size: 14px;
}

.more {
  color: gray;
  font-style: italic;
  margin-left: 4px;
}

.viewAll {
  padding: 4px 0px 10px;
  color: gray;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
}
