.input {
  width: 100%;
  padding: 8px 35px 8px 12px;
  margin-bottom: 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 12px;
  outline: none;
  background-color: var(--grey-background-color);
}

.input:focus {
  border-color: #007bff;
}

.subheading {
  font-weight: bold;
  margin: 16px 0 26px 0;
  font-size: 16px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 6px 0px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.item:hover {
  background-color: #f0f0f0;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

.userName {
  font-weight: bold;
}

.inputWrapper {
  position: relative;
  width: 100%;
  margin-top: 23px;
}

.clearBtn {
  position: absolute;
  top: 35%;
  right: 14px;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
  color: #666;
  padding: 0;
  opacity: 0.8;
}

.clearBtn:hover {
  opacity: 1;
}
