.sidebar {
  min-width: 245px;
  padding: 28px 20px 20px 25px;
  background-color: #fff;
  border-right: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex-direction: column;
  position: sticky;
  top: 0;
}

.logoWrapper {
  margin-bottom: 30px;
}

.logo {
  width: 98px;
  height: auto;
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.navItem:hover,
.navItemActive {
  border-radius: 8px;
  padding: 0px 0px;
  font-weight: 700;
}

.navItem.active {
  font-weight: 700;
  padding: 0 0px;
}

.navItem:last-child {
  margin-top: 40px;
}

.textShifted {
  font-weight: 700;
  padding: 0 8px;
}

.icon {
  width: 24px;
  height: 24px;
}

.avatarIcon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
}

.logoutWrapper {
  margin-top: auto;
  width: 100%;
  padding: 16px;
}
