.input {
  width: 100%;
  padding: 11px 8px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #fafafa;
  font-size: 12px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.input:focus {
  border-color: #a8a8a8;
  background-color: #ffffff;
}
