.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;
  padding: 22px 0 60px 0;
  color: var(--grey-text);
  font-size: var(--footer-font-size);

  position: relative;
  z-index: 10;
  background-color: #fff;
}

.nav {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
  color: var(--grey-text);
  font-weight: 400;
  transition: color 0.2s ease;
}

.link:hover {
  color: var(--grey-text-hover);
}

.copy {
  margin: 0;
  color: var(--grey-text);
}
