.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26px 200px 60px 10px;
  gap: 8px;
}

.icon {
  width: 82px;
  height: 82px;
  object-fit: contain;
}

.smallText {
  font-size: 16px;
  color: #000000;
}

.mainText {
  font-size: 12px;
  color: #737373;
}
