.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  border-radius: 1px;
  padding-bottom: 20px;
}

.imageSection {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}

.previewImage {
  max-height: 600px;
  object-fit: contain;
}

.formSection,
.formSectionForgotPass {
  flex: 1;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
  min-width: 390px;
}

.formSectionForgotPass {
  gap: 0px;
}

.card,
.cardForgotPass {
  background-color: white;
  border: 1px solid #dbdbdb;
  padding: clamp(25px, 5vw, 45px) clamp(45px, 10vw, 45px) clamp(50px, 8vw, 84px)
    clamp(45px, 10vw, 45px);
  text-align: center;
  width: 100%;
}

.cardForgotPass > img {
  margin: 0 auto;
}

.cardSignUp {
  background-color: white;
  border: 1px solid #dbdbdb;
  padding: 19px 39px 30px 39px;
  text-align: center;
}

.logo {
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* margin-top: 20px; */
}

.formfields {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.errorMessage {
  color: var(--error-message-color);
  text-align: start;
  font-size: 12px;
}

.separatorContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.separatorContainerForgotPass {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  padding-top: 50px;
}

.separator {
  flex: 1;
  height: 1px;
  background-color: var(--separator-grey-color);
}

.orText {
  color: #8e8e8e;
  font-weight: 600;
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
}

.link {
  background: none;
  border: none;
  color: var(--dark-blue-text);
  font-size: 12px;
  cursor: pointer;
  margin-top: clamp(16px, 4vw, 40px);
  text-decoration: none;
}

.link:hover {
  color: var(--button-main-blue);
}

.signupCard {
  background-color: white;
  border: 1px solid var(--separator-grey-color);
  text-align: center;
  padding: 22px;
}

.signupText {
  font-size: 14px;
  text-decoration: none;
  color: var(--button-main-blue);
  font-weight: 600;
}

.signupText:hover {
  color: var(--dark-blue-text);
  text-decoration: underline;
}

.subtitle {
  color: var(--grey-text-color);
  font-weight: 800;
  padding-bottom: 35px;
  font-size: var(--bigger-font-size);
}

.subtitleForgotPass {
  color: var(--grey-text-color);
  font-weight: 400;
  padding-bottom: 14px;
  font-size: var(--bigger-font-size);
  font-size: 14px;
}

.subtitleBlack {
  color: var(--main-text-color);
  font-weight: 800;
  padding-bottom: 10px;
  font-size: var(--bigger-font-size);
  padding-top: 14px;
}

.policyText {
  font-size: var(--footer-font-size);
  color: var(--grey-text-color);
}

.termsBox {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 11px 0px;
}

.backToLogin {
  width: 100%;
  border: 1px solid var(--separator-grey-color);
  padding: 14px;
  text-align: center;
  background-color: var(--input-background-color);
}

.backToLoginLink {
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.backToLoginLink:hover {
  color: var(--button-main-blue);
}

.linkWithoutBorder {
  padding-top: 13px;
}
