.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  width: 100%;
}

.notFoundContainer {
  display: flex;
  gap: 44px;
  align-items: center;
  text-align: center;
}

.notFoundText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notFoundTitle {
  font-weight: bold;
  font-size: 36px;
}

.notFoundParagraph {
  width: 100%;
  max-width: 500px;
  color: var(--grey-text-color);
  font-size: var(--bigger-font-size);
  font-weight: 600;
}
