.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  padding: 89px 112px 89px 120px;
}

.itemSquare {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  position: relative;
}

.itemWide {
  grid-row: span 2;
  height: 100%;
}

.postImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  cursor: pointer;
}
